* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html, body {
	width: 100vw;
	height: 100vh;
}

.contenedor__principal {
	/* border: 2px solid red; */
	width: inherit;
	height: inherit;
	background-color: rgb(194, 168, 16);
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

.contenedor__2do {
	/* border: 2px solid red; */
	/* width: 500px; */
	/* height: 550px; */
    width: 90%;
    height: 90%;
	max-width: 800px;
	background-color: inherit;
	display: inherit;
	align-items: inherit;
	justify-content: inherit;
}
