* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html, body {
	width: 100vw;
	height: 100vh;
}

.contenedor__principal {
	/* border: 2px solid red; */
	width: 100%;
	height: 100%;
	background-color: rgb(194, 168, 16);
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.contenedor__2do {
	/* border: 2px solid pink; */
    width: 100%;
    height: fit-content;
	background-color: inherit;
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

#canvas {
	width: 40vw;
	height: 100vh;
}

#controles {
	display: none;
}

#contenedor__botones {
	width: 100%;
	height: fit-content;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	background-color: inherit;
}

/*---------------------------------------------------------
BOTONES < CONTROLES & NUEVA PARTIDA >
---------------------------------------------------------*/
.boton {
	width: fit-content;
	height: fit-content;
	border-radius: 6px;
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	cursor: pointer;
	padding: 0.8em 1em;
	outline: none;
	justify-self: center;
}

.boton:active {
	transform: translate(-2px, -4px);
}

.NewGame {
	display: flex;
	color: #FFFFA5; 
	background-color: #ff3010;
	text-shadow: 2px 2px 2px black;
	box-shadow: inset 0 -0.5em 0 -0.35em rgba(0, 0, 0, 0.45);
}

.controles {
	height: fit-content;
	color: #111;
	border-radius: 6px;
	background: linear-gradient(#CCC, #777);
	font-size: 20px;
	font-weight: bold;
	box-shadow: inset -3px -2px 2px rgba(0, 0, 0, 0.7);
	cursor: pointer;
	outline: none;
}

#boton__le {
	width: 90%;
	justify-self: right;
	border-radius: 50% 6px 6px 50%;
}

#boton__ri {
	width: 90%;
	justify-self: left;
	border-radius: 6px 50% 50% 6px;
}

#boton__do {
	width: 90%;
	grid-column-start: 1;
	grid-column-end: 3;
	border-radius: 6px 6px 50% 50%;
}

#boton__rotar {
	width: 90%;
}

#boton__menu {
	width: 90%;
}

/*---------------------------------------------------------
RESPONSIVE
---------------------------------------------------------*/
@media (max-width: 580px) {

	#canvas {
		width: 90vw;
		height: 100vh;
	}

	#controles {
		display: flex;
		opacity: 0.1;
		margin-top: -32vh;
	}
}
